img.wp-smiley, img.emoji {
	display: inline !important;
	border: 0 !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -.1em !important;
	background: none !important;
	padding: 0 !important
}
div.wpcf7 {
	margin: 0;
	padding: 0
}
div.wpcf7-response-output {
	margin: 2em .5em 1em;
	padding: .2em 1em
}
div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0
}
div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14
}
div.wpcf7-mail-sent-ng {
	border: 2px solid red
}
div.wpcf7-spam-blocked {
	border: 2px solid orange
}
div.wpcf7-validation-errors {
	border: 2px solid #f7e700
}
span.wpcf7-form-control-wrap {
	position: relative
}
span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block
}
.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid red;
	background: #fff;
	padding: .2em .8em
}
span.wpcf7-list-item {
	margin-left: .5em
}
.wpcf7-display-none {
	display: none
}
div.wpcf7 img.ajax-loader {
	border: 0;
	vertical-align: middle;
	margin-left: 4px
}
div.wpcf7 div.ajax-error {
	display: none
}
div.wpcf7 .placeheld {
	color: #888
}
#mc4wp-checkbox {
	clear: both;
	display: block;
	position: static;
	width: auto
}
#mc4wp-checkbox input {
	float: none;
	width: auto;
	position: static;
	margin: 0 6px 0 0;
	padding: 0;
	vertical-align: middle;
	display: inline-block !important;
	max-width: 21px;
	-webkit-appearance: checkbox
}
#mc4wp-checkbox label {
	float: none;
	display: block;
	cursor: pointer;
	width: auto;
	position: static
}
#_mc4wp_subscribe_woocommerce_checkout_field input, #_mc4wp_subscribe_woocommerce_checkout_field label {
	float: none !important;
	width: auto !important;
	display: inline-block !important
}
#registerform #mc4wp-checkbox {
	margin-bottom: 10px
}
*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0 none;
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block
}
audio, canvas, video {
	display: inline-block
}
audio:not([controls]) {
	display: none
}
[hidden] {
display:none
}
input, select, textarea {
	font-family: Georgia, serif;
	font-size: 14px;
	line-height: 40px
}
input[type="search"], input[type="email"], input[type="text"] {
	-webkit-appearance: initial
}
::-moz-selection {
background:#13042b;
color:#FFF;
text-shadow:none
}
::selection {
	background: #13042b;
	color: #FFF;
	text-shadow: none
}
::-webkit-input-placeholder {
color:currentColor
}
::-moz-placeholder {
color:currentColor
}
:-ms-input-placeholder {
color:currentColor
}
html, body {
	height: 100%;
	min-height: 100%;
	max-width: 100%;
	margin: 0
}
.screen {
	position: relative;
	min-height: 100%;
	height: auto;
	height: 100%;
	width: 100%;
	padding-left: 100px;
	display: table;
	overflow-x: hidden
}
.screen-wrapper {
	display: table-cell;
	vertical-align: middle
}
.screen-inner {
	font-size: 16px;
	display: block;
	margin: auto;
	width: 720px;
	max-width: 100%;
	position: relative;
	z-index: 999
}
@media screen and (max-width:900px) {
.screen {
	padding-left: 0
}
.screen-inner {
	width: 600px;
	max-width: 100%
}
}
@media screen and (max-width:720px) {
.screen {
	padding-left: 0
}
.screen-inner {
	width: 440px;
	max-width: 100%
}
}
@media screen and (max-width:640px) {
.screen {
	padding-left: 0
}
.screen-inner {
	width: 380px;
	max-width: 100%
}
}
@media screen and (max-width:480px) {
.screen {
	padding-left: 0
}
.screen-inner {
	width: 250px;
	max-width: 100%
}
}
.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left
}
.cd-words-wrapper b {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0
}
.cd-words-wrapper b.is-visible {
	position: relative
}
.no-js .cd-words-wrapper b {
	opacity: 0
}
.no-js .cd-words-wrapper b.is-visible {
	opacity: 1
}
.cd-headline.zoom .cd-words-wrapper {
	-webkit-perspective: 300px;
	-moz-perspective: 300px;
	perspective: 300px
}
.cd-headline.zoom b {
	opacity: 0
}
.cd-headline.zoom b.is-visible {
	opacity: 1;
	-webkit-animation: zoom-in 1s;
	-moz-animation: zoom-in 1s;
	animation: zoom-in 1s
}
.cd-headline.zoom b.is-hidden {
	-webkit-animation: zoom-out .6s;
	-moz-animation: zoom-out .6s;
	animation: zoom-out .6s
}
@-webkit-keyframes zoom-in {
0% {
opacity:0;
-webkit-transform:translateZ(20px)
}
100% {
opacity:1;
-webkit-transform:translateZ(0)
}
}
@-moz-keyframes zoom-in {
0% {
opacity:0;
-moz-transform:translateZ(20px)
}
100% {
opacity:1;
-moz-transform:translateZ(0)
}
}
@keyframes zoom-in {
0% {
opacity:0;
transform:translateZ(20px)
}
100% {
opacity:1;
transform:translateZ(0)
}
}
@-webkit-keyframes zoom-out {
0% {
opacity:1;
-webkit-transform:translateZ(0)
}
100% {
opacity:0;
-webkit-transform:translateZ(-20px)
}
}
@-moz-keyframes zoom-out {
0% {
opacity:1;
-moz-transform:translateZ(0)
}
100% {
opacity:0;
-moz-transform:translateZ(-20px)
}
}
@keyframes zoom-out {
0% {
opacity:1;
transform:translateZ(0)
}
100% {
opacity:0;
transform:translateZ(-20px)
}
}
.hamburger {
	display: none
}
#menu-xl {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	font-family: 'dual600', Arial, sans-serif;
	width: 100px;
	height: 100%
}
.menu-xl-inner {
	display: table-cell;
	vertical-align: middle
}
#menu-home .logo-stroked {
	max-width: 100%;
	height: 50px;
	fill: transparent;
	stroke: white;
	stroke-width: 3px;
	stroke-dasharray: 100, 0
}
.logo-stroked-poly {
	fill: white
}
.logo-stroked-poly:hover {
	fill: white
}
#menu-home .logo-stroked:hover, #menu-home .logo-stroked:focus {
	-webkit-animation: panache-anim .7s ease-out forwards;
	-moz-animation: panache-anim .7s ease-out forwards;
	-ms-animation: panache-anim .7s ease-out forwards;
	-o-animation: panache-anim .7s ease-out forwards;
	animation: panache-anim .7s ease-out forwards
}
.logo-stroked-poly {
	fill: white
}
.logo-stroked-poly:hover, .logo-stroked-poly:focus {
	fill: white
}
@-webkit-keyframes panache-anim {
0% {
stroke-dasharray:0%, 100;
stroke-dashoffset:0
}
100% {
stroke-dasharray:100%, 0;
stroke-dashoffset:0
}
0% {
stroke-dasharray:0, 100;
stroke-dashoffset:0
}
}
@-moz-keyframes panache-anim {
0% {
stroke-dasharray:0%, 100;
stroke-dashoffset:0
}
100% {
stroke-dasharray:100%, 0;
stroke-dashoffset:0
}
0% {
stroke-dasharray:0, 100;
stroke-dashoffset:0
}
}
@-ms-keyframes panache-anim {
0% {
stroke-dasharray:0%, 100;
stroke-dashoffset:0
}
100% {
stroke-dasharray:100%, 0;
stroke-dashoffset:0
}
0% {
stroke-dasharray:0, 100;
stroke-dashoffset:0
}
}
@-o-keyframes panache-anim {
0% {
stroke-dasharray:0%, 100;
stroke-dashoffset:0
}
100% {
stroke-dasharray:100%, 0;
stroke-dashoffset:0
}
0% {
stroke-dasharray:0, 100;
stroke-dashoffset:0
}
}
@keyframes panache-anim {
0% {
stroke-dasharray:0%, 100;
stroke-dashoffset:0
}
100% {
stroke-dasharray:100%, 0;
stroke-dashoffset:0
}
0% {
stroke-dasharray:0, 100;
stroke-dashoffset:0
}
}
.entry {
	margin: auto;
	width: 30px;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	margin-top: 30px
}
.nbsp {
	line-height: 10px
}
.menu-link {
	display: block
}
.menu-link-hover:before, .menu-link-hover:after {
	background: transparent;
	content: "";
	display: block;
	margin: 10px auto;
	width: 0;
	height: 1px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.menu-link-hover:hover:before, .menu-link-hover:hover:after, .menu-link-hover.active:before, .menu-link-hover.active:after, .menu-link-hover:focus:before, .menu-link-hover:focus:after {
	width: 1em;
	background: white
}
.label {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom:3px;
}
a, a:visited, a:active {
	color: white;
	text-decoration: none
}
@media screen and (max-height:768px) {
#menu-home .logo {
	max-width: 80%
}
.entry {
	width: 30px;
	font-size: 14px;
	line-height: 14px
}
}
#menu-mobile {
	overflow-x: hidden
}
.burger {
	position: fixed;
	right: 0;
	z-index: 9998;
	width: 200px
}
.burger label {
	font-family: 'NotCourierSans';
	text-transform: uppercase;
	font-size: 40px;
	text-align: center
}
.burger label:hover {
	cursor: pointer
}
#onoff {
	display: none
}
.overlay {
	z-index: 8;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: white;
	z-index: 9999
}
.overlay label {
	position: absolute;
	z-index: 100;
	cursor: pointer
}
.cross {
	fill: #f24b4b
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative
}
.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100%/5);
	min-height: 54px
}
.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #f24b4b;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-ms-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
	text-transform: uppercase
}
.overlay ul li a:hover {
	color: #13042b
}
.overlay #mobile-entry {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}
.mobile-panache #mobile-entry {
	-webkit-perspective: 300px;
	-moz-perspective: 300px;
	perspective: 300px
}
.burger~.mobile-panache {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .5s, visibility 0s .5s;
	-moz-transition: opacity .5s, visibility 0s .5s;
	-ms-transition: opacity .5s, visibility 0s .5s;
	-o-transition: opacity .5s, visibility 0s .5s;
	transition: opacity .5s, visibility 0s .5s
}
#onoff:checked~.mobile-panache {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s
}
#onoff:checked~.mobile-panache #mobile-entry ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg)
}
.mobile-panache #mobile-entry ul {
	opacity: .4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	-moz-transform: translateY(-25%) rotateX(35deg);
	-ms-transform: translateY(-25%) rotateX(35deg);
	-o-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform .5s, opacity .5s;
	-moz-transition: -webkit-transform .5s, opacity .5s;
	-ms-transition: -webkit-transform .5s, opacity .5s;
	-o-transition: -webkit-transform .5s, opacity .5s;
	transition: transform .5s, opacity .5s
}
#onoff:not(:checked)~.mobile-panache #mobile-entry ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	-moz-transform: translateY(25%) rotateX(-35deg);
	-ms-transform: translateY(25%) rotateX(-35deg);
	-o-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg)
}
@media screen and (min-width:900px) {
.cross {
	display: block;
	position: fixed;
	height: 65px;
	width: 60px;
	top: 35px;
	right: 40px
}
#mobile-entry .logo {
	fill: #f24b4b;
	height: 80px;
	margin-bottom: 100px
}
.overlay #mobile-entry {
	font-size: 250%
}
#logo-mobilehome {
	height: 165px
}
.cover-entry:before, .cover-entry:after {
	background-color: transparent;
	content: "";
	display: block;
	margin: 10px auto;
	width: 0;
	height: 1px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.cover-entry:hover:before, .cover-entry:hover:after {
	width: 100%;
	background-color: #13042b
}
}
@media screen and (max-width:900px) {
#menu-xl {
	display: none
}
#menu-classic {
	display: block
}
.hamburger {
	display: block;
	position: fixed;
	z-index: 1;
	fill: white;
	height: 45px;
	width: 50px;
	top: 45px;
	right: 45px
}
.cross {
	display: block;
	position: fixed;
	height: 65px;
	width: 60px;
	top: 35px;
	right: 40px
}
.overlay #mobile-entry {
	font-size: 250%
}
#mobile-entry .logo {
	fill: #f24b4b;
	height: 80px
}
.cover-entry:before, .cover-entry:after {
	background-color: transparent;
	content: "";
	display: block;
	margin: 10px auto;
	width: 0;
	height: 1px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.cover-entry:hover:before, .cover-entry:hover:after {
	width: 100%;
	background-color: #13042b
}
}
@media screen and (max-width:900px) {
#mobile-entry .logo {
	fill: #f24b4b;
	height: 80px;
	margin-bottom: 100px
}
#logo-mobilehome {
	height: 145px
}
}
@media screen and (max-width:640px) {
#menu-xl {
	display: none
}
#menu-classic {
	display: block
}
#logo-mobilehome {
	height: 95px
}
.hamburger {
	display: block;
	position: fixed;
	z-index: 1;
	fill: white;
	height: 25px;
	width: 25px;
	top: 25px;
	right: 25px
}
.cross {
	display: block;
	position: fixed;
	height: 33px;
	width: 45px;
	top: 21px;
	right: 15px
}
#mobile-entry .logo {
	fill: #f24b4b;
	height: 60px
}
.overlay #mobile-entry {
	font-size: 200%
}
}
#home {
	background-color: #6bd6f1;
	min-height: 150%;
	min-height: 150vh;
	height: 150%;
	height: 150vh
}
#home>.screen-wrapper {
	padding-bottom: 50%;
	padding-bottom: 50vh
}
#main-title {
	text-align: left;
	position: relative;
	z-index: 1
}
.biglogo {
	position: absolute;
	height: 600px;
	width: 450px;
	top: -150px;
	padding-top: 45px;
	left: 200px;
	padding-left: 150px;
	max-width: 100%;
	z-index: -1
}
@media screen and (max-width:900px) {
.biglogo {
	position: absolute;
	height: 460px;
	width: 650px;
	top: -100px;
	padding-top: 5px;
	left: 0;
	padding-left: 140px;
	max-width: 100%;
	z-index: -1
}
}
@media screen and (max-width:720px) {
.biglogo {
	position: absolute;
	height: 250px;
	width: 350px;
	top: 10px;
	padding-top: 0;
	left: 100px;
	padding-left: 90px;
	max-width: 100%;
	z-index: -1
}
}
@media screen and (max-width:640px) {
.biglogo {
	position: absolute;
	height: 380px;
	width: 250px;
	top: -100px;
	padding-top: 0;
	left: 80px;
	padding-left: 50px;
	padding-right: 0;
	max-width: 100%;
	z-index: -1
}
}
@media screen and (max-width:480px) {
.biglogo {
	position: absolute;
	height: 350px;
	width: 280px;
	top: -90px;
	padding-top: 0;
	left: 50px;
	padding-right: 0;
	padding-left: 40px;
	max-width: 100%;
	z-index: -1
}
}
@media screen and (max-width:320px) {
.biglogo {
	position: absolute;
	height: 220px;
	width: 450px;
	top: -70px;
	padding-top: 45px;
	left: 0;
	padding-right: 0;
	padding-left: 40px;
	max-width: 100%;
	z-index: -1
}
}
#expertises {
	background-color: #f24b4b;
	position: relative;
	padding-top: 50vh
}
#ghost-transition-1 {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 150%;
	min-height: 150vh;
	height: 150%;
	height: 150vh;
	z-index: -1
}
#conseil, #creation, #ecran {
	background-color: #f24b4b;
	margin: 0
}
#conseil {
	padding-top: 80px
}
#ecran {
	padding-bottom: 90px
}
.expertise-inner {
	padding-left: 300px;
	padding-top: 80px
}
.column-left {
	float: left;
	width:210px;
	/*margin-right: 100px*/
}
.column-right {
	float: left;
	max-width:210px;
	margin-bottom: 80px
}
.fixed-background {
	position: relative
}
.fixed-background:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 145px;
	height: 100%;
	max-width: 4000px;
	min-width: 700px;
	background-repeat: no-repeat;
	background-size: auto auto;
	background-position: 20% center;
	background-attachment: fixed
}

.fixed-background.img-1:after {
	background-image: url(image/conseil-panache.png)
}
.fixed-background.img-2:after {
	background-image: url(image/crea-panache.png)
}
.fixed-background.img-3:after {
	background-image: url(image/ecran-panache.png)
}
@media screen and (max-width:1024px) {
#conseil, #creation, #ecran {
	background-color: #f24b4b;
	margin: 0
}
#conseil {
	padding-top: 70px
}
#ecran {
	padding-bottom: 20px
}
.miniscreen {
	min-height: 80%;
	height: auto
}
.expertise-inner {
	padding-left: 270px
}
.column-left {
	width: 170px;
	margin-right: 60px
}
.column-right {
	width: 170px
}
.cd-content {
	margin: auto;
	width: auto
}
.fixed-background:after {
	display: none
}
.img-tablet {
	background-repeat: no-repeat;
	background-position: 135px center;
	background-size: 280px auto;
	overflow-y: hidden
}
.img-tablet-1 {
	background-image: url(image/conseil-panache.png);
	background-position: 136px 160px
}
.img-tablet-2 {
	background-image: url(image/crea-panache.png)
}
.img-tablet-3 {
	background-image: url(image/ecran-panache.png);
	background-position: 136px 80px
}
.fixed-background:after {
	display: none
}
.columns {
	width: 415px
}
}
@media screen and (max-width:900px) {
.img-tablet {
	background-repeat: no-repeat;
	background-position: 80px center;
	background-size: 280px auto;
	overflow-y: hiddenmarianne-schricke
}
#ecran {
	padding-bottom: 10px
}
.column-left {
	width: 125px;
	margin-right: 35px
}
.column-right {
	width: 172px
}
.img-tablet-1 {
	background-position: 50px 170px
}
.img-tablet-3 {
	background-image: url(image/ecran-panache.png);
	background-position: 80px 80px
}
}
@media screen and (max-width:800px) {
.img-tablet {
	background-repeat: no-repeat;
	background-position: 50px center;
	background-size: 280px auto;
	overflow-y: hidden
}
.img-tablet-1 {
	background-position: 50px 170px
}
.img-tablet-3 {
	background-position: 50px 90px
}
.miniscreen {
	min-height: 60%;
	height: auto
}
}
@media screen and (max-width:720px) {
#conseil, #creation, #ecran {
	background-color: #f24b4b;
	margin: 0;
	padding-left: 0
}
.expertise-inner {
	padding-left: 0
}
.columns {
	width: 495px
}
.column-left, .column-right {
	width: 100%
}
.cd-content {
	margin: auto;
	width: auto
}
.img-tablet {
	background-image: none
}
.img-mob {
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 260px !important;
	overflow-y: hidden
}
.img-mob-1 {
	background-image: url(image/conseil-panache.png)
}
.img-mob-2 {
	background-image: url(image/crea-panache.png)
}
.img-mob-3 {
	background-image: url(image/ecran-panache.png);
	background-position: right 25px
}
.fixed-background:after {
	display: none
}
}
@media screen and (max-width:640px) {
#conseil, #creation, #ecran {
	background-color: #f24b4b;
	margin: 0;
	padding-left: 0
}
.miniscreen {
	min-height: 70%;
	height: auto
}
.columns {
	width: 415px
}
.img-mob {
	background-size: 230px !important
}
.img-mob-3 {
	background-position: right 80px
}
.cd-content {
	margin: auto;
	width: auto
}
}
@media screen and (max-width:480px) {
#conseil, #creation, #ecran {
	background-color: #f24b4b;
	margin: 0;
	padding: 0
}
#conseil {
	padding-top: 60px
}
.miniscreen {
	min-height: 30%;
	height: auto
}
.column-left, .column-right {
	width: 100%
}
.columns {
	width: 290px
}
.img-mob {
	background-size: 200px !important
}
.cd-fixed-background {
	position: relative
}
.cd-fixed-background:after {
	display: none
}
.cd-content {
	margin: auto;
	width: auto
}
.img-mob-3 {
	background-image: url(image/ecran-panache.png);
	background-position: right 75px
}
}
#vous {
	background-color: #6bd6f1
}
#vous h3 {
	padding-bottom: 20px
}
#sommet {
	float: left;
	width: 300px;
	padding-right: 0;
	margin-top: 80px
}
#sommet  .call:hover{
	color:#f00;
}
#sommet .blue{
	color:#00f;
}
.keyword {
	color: white
}
#sous-marin {
	float: right;
	width: 300px;
	margin-top: 270px;
	padding-left: 0;
	margin-bottom: 80px
}
#sous-marin  .call:hover{
	color:#f00;
}
#sous-marin  i{
	color:#00f;
}
#sous-traitance {
	color: white
}
@media screen and (max-width:900px) {
.glossaire {
	display: block
}
#vous h3 {
	padding-bottom: 10px
}
#sommet {
	float: left;
	width: 300px;
	padding-right: 30px
}
#sommet i {
	color:#00f;
}
#sous-marin {
	float: right;
	width: 300px;
	margin-top: 190px;
	padding-left: 30px
}
}
@media screen and (max-width:720px) {
.glossaire {
	display: inline
}
#vous {
	padding: 0
}
#vous>.wrapper {
	width: 440px;
	padding: 0
}
#vous h3 {
	padding-bottom: 10px
}
#sommet, #sous-marin {
	width: 100%;
	padding: 0
}
#sous-marin {
	margin-top: 80px
}
}
@media screen and (max-width:640px) {
#vous>.wrapper {
	width: 420px
}
#sommet, #sous-marin {
	width: 100%;
	padding: 0
}
}
@media screen and (max-width:480px) {
.glossaire {
	display: block
}
#vous>.wrapper {
	width: 250px
}
#vous h3 {
	padding-bottom: 8px
}
#sommet, #sous-marin {
	width: 100%;
	padding: 0
}
}
#duo {
	background-color: #13042b
}
@media screen and (min-width:900px) {
#duo {
	min-height: 150%;
	min-height: 150vh;
	height: 150%;
	height: 150vh
}
#duo>.screen-wrapper {
	padding-bottom: 150%;
	padding-bottom: 150vh
}
}
.photoduo {
	margin-top: 120px;
	height: auto;
	max-width: 100%
}
.photoduo-mobile {
	display: none
}
#marianne-schricke {
	float: left;
	width: 300px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 100px;
	height: 100%;
	padding-bottom: 80px
}

#marianne-schricke .call:hover{
	color:#f00;
}
#marianne-schricke i{
	color:#00f;
}
#guillaume-thibord {
	float: right;
	width: 300px;
	margin-top: 60px;
	margin-bottom: 60px;
	height: 100%;
	padding-bottom: 80px
}
#guillaume-thibord  .call:hover{
	color:#f00;
}
#guillaume-thibord i{
	color:#00f;
}
#duo h6 {
	color: white
}
#duo h3, #duo p {
	color: #f24b4b
}
#duo p {
	padding-bottom: 20px
}
#duo h3 {
	padding-bottom: 20px
}
#duo h6 {
	padding-bottom: 0
}
@media screen and (max-width:900px) {
#duo {
	background-color: #13042b;
	height: auto
}
#marianne-schricke {
	float: left;
	width: 300px;
	height: 100%;
	margin: 0;
	padding-right: 30px;
	margin-top: 60px;
	margin-bottom: 60px
}
#guillaume-thibord {
	float: right;
	width: 300px;
	height: 100%;
	margin: 0;
	padding-left: 30px;
	margin-top: 60px;
	margin-bottom: 60px
}
#duo h3 {
	padding-bottom: 10px
}
#duo p {
	padding-bottom: 15px
}
#duo h6 {
	padding-bottom: 0
}
}
@media screen and (max-width:720px) {
#duo {
	background-color: #13042b;
	height: auto;
	padding: 0
}
#duo>.wrapper {
	width: 440px;
	height: 100%
}
#marianne-schricke, #guillaume-thibord {
	width: 100%;
	padding: 0
}
#marianne-schricke {
	margin-top: 20px;
	margin-bottom: 0
}
#guillaume-thibord {
	margin-top: 20px;
	margin-bottom: 20px
}
#duo h3 {
	padding-top: 80px;
	padding-bottom: 10px
}
#duo p {
	padding-bottom: 15px
}
#duo h6 {
	padding-bottom: 0
}
#guillaume-thibord>h6 {
	padding-bottom: 100px
}
}
@media screen and (max-width:640px) {
#duo {
	background-color: #13042b;
	height: auto;
	padding: 0
}
#duo>.wrapper {
	width: 420px;
	height: 100%
}
#marianne-schricke, #guillaume-thibord {
	width: 100%;
	padding: 0
}
#marianne-schricke {
	margin-top: 0;
	margin-bottom: 0
}
#guillaume-thibord {
	margin-top: 0;
	margin-bottom: 0
}
}
@media screen and (max-width:480px) {
#duo {
	background-color: #13042b;
	height: auto;
	padding: 0
}
#duo>.wrapper {
	width: 250px;
	height: 100%
}
.photoduo {
	display: none
}
.photoduo-mobile {
	display: block;
	margin-top: 100px;
	height: auto;
	max-width: 100%
}
#marianne-schricke, #guillaume-thibord {
	width: 100%;
	padding: 0
}
#marianne-schricke {
	margin-top: -10px;
	margin-bottom: 0
}
#guillaume-thibord {
	margin-top: 0;
	margin-bottom: 15px
}
#duo h3 {
	padding-top: 80px;
	padding-bottom: 8px
}
#duo p {
	padding-bottom: 15px
}
#duo h6 {
	padding-bottom: 0
}
#guillaume-thibord>h6 {
	padding-bottom: 80px
}
}
#contact {
	background-color: #f24b4b;
	margin-bottom: 49vh
}
@media screen and (min-width:900px) {
#contact {
	min-height: 150%;
	min-height: 150vh;
	height: 150%;
	height: 150vh
}
#contact>.screen-wrapper {
	padding-top: 20%;
	padding-top: 20vh;
	position: relative;
	z-index: 9999
}
}
#contact>.wrapper {
	margin-top: 125px
}
#contact-details {
	text-align: left;
	margin-top: 80px
}
#contact-ref {
	float: left;
	width: 300px;
	margin-top: 100px;
	margin-right: 100px;
	padding-left: 100px;
	color: white
}
#contact-ref>p {
	color: white
}
#mail>a:hover {
	color: #13042b;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.facebook, .twitter, .pinterest {
	width: 55px;
	height: 55px;
	fill: white;
	display: inline;
	margin-top: 80px
}
.facebook, .twitter {
	margin-right: 10px
}
.facebook:hover, .twitter:hover, .pinterest:hover {
	fill: #13042b;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
#contact .wpcf7 {
	float: left;
	width: 300px;
	height: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 80px;
	padding-left: 18px
}
::-webkit-input-placeholder {
color:white;
text-transform:uppercase;
font-family:'\5FAE\8F6F\96C5\9ED1';
-webkit-padding-before:6px
}
::-moz-placeholder {
color:white;
opacity:1;
text-transform:uppercase;
font-family:'\5FAE\8F6F\96C5\9ED1'
}
:-ms-input-placeholder {
color:white;
text-transform:uppercase;
font-family:'\5FAE\8F6F\96C5\9ED1'
}
.wpcf7 input {
	width: 100%;
	color: white;
	background-color: transparent;
	border: 0;
	height: 40px
}
.wpcf7 p {
	margin: 0 !important;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 27px
}
.formpan-input {
	vertical-align: middle
}
.formpan-textarea ::-webkit-input-placeholder {
line-height:22px
}
.formpan-input:before, .formpan-textarea:before {
	content: '';
	display: block;
	background-color: white;
	height: 1px;
	width: 300px
}
.wpcf7 textarea {
	background-color: transparent;
	resize: vertical;
	line-height: 22px;
	margin-top: 8px;
	width: 300px;
	color: white;
	-webkit-padding-before: 2px
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}
textarea::-moz-input-placeholder, input::-moz-placeholder {
-moz-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}
textarea:-ms-input-placeholder, input:-ms-input-placeholder {
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}
input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
opacity:.3;
filter:alpha(opacity=50);
-webkit-transform:translate(0%, -45%)
}
input:hover::-moz-placeholder, input:focus::-moz-placeholder, textarea:hover::-moz-input-placeholder, textarea:hover::-moz-input-placeholder {
opacity:.3;
filter:alpha(opacity=50);
-moz-transform:translate(0%, -50%)
}
input:hover:-ms-input-placeholder, input:focus:-ms-input-placeholder, textarea:hover:-ms-input-placeholder, textarea:hover:-ms-input-placeholder {
opacity:.3;
filter:alpha(opacity=50);
-ms-transform:translate(0%, -20%)
}
.formpan-check {
	margin-bottom: 30px
}
.formpan-check p {
	color: white;
	font-size: 14px
}
.formpan-check input {
	-webkit-appearance: button !important;
	appearance: button !important;
	border: solid 1px white;
	border-radius: none !important;
	background-color: transparent !important;
	width: 18px !important;
	height: 18px !important;
	margin: 0 !important;
	margin-right: 5px !important;
	vertical-align: middle !important
}
.formpan-check input:hover {
	border: solid 1px #13042b;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}
.formpan-check input:checked {
	border: solid 1px #13042b;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}
.formpan-check:before {
	content: '';
	display: block;
	background-color: white;
	height: 1px;
	width: 300px;
	margin-bottom: 25px
}
.formpan-check input:checked:after {
	content: 'Ã—';
	line-height: 13px;
	font-size: 25px;
	margin-left: 0;
	vertical-align: middle;
	padding-bottom: 0;
	padding-left: 0;
	color: #13042b;
	display: block;
	background-color: transparent;
	height: auto;
	width: auto;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}
#contact .wpcf7-submit {
	font-family: '\5FAE\8F6F\96C5\9ED1';
	font-style: normal;
	text-transform: uppercase;
	color: white;
	border: solid 1px white;
	height: 30px;
	line-height:30px;
	position: relative;
	width: 100px;
	border-radius: 0;
	background-color: transparent;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	cursor: pointer
}
#contact .wpcf7-submit:hover, #contact .wpcf7-submit:focus {
	border: solid 1px #13042b;
	color: #13042b
}
span.wpcf7-not-valid-tip {
	color: #a43333 !important;
	position: absolute;
	top: 8px;
	right: 0;
	font-family: Georgia;
	font-size: 14px !important;
	font-style: italic
}
div.wpcf7-validation-errors {
	display: none !important
}
div.wpcf7-mail-sent-ok {
	border: 0 !important;
	color: white !important
}
div.wpcf7-response-output {
	margin: 0 0 10px 0 !important;
	padding: 0 !important
}
@media screen and (max-width:900px) {
#contact-ref {
	float: left;
	width: 250px;
	padding-left: 0;
	margin-right: 80px
}
#contact .wpcf7 {
	float: left;
	width: 270px;
	padding-left: 0
}
.formpan-input:before, .formpan-textarea:before {
	content: '';
	display: block;
	background-color: white;
	height: 1px;
	width: 270px
}
.wpcf7 textarea {
	width: 270px
}
.formpan-check:before {
	width: 270px
}
}
@media screen and (max-width:720px) {
#contact-ref {
	width: 440px;
	padding-left: 0;
	margin-right: 0
}
.facebook, .twitter, .pinterest {
	margin-top: 50px
}
#contact .wpcf7 {
	width: 440px;
	padding-left: 0
}
.formpan-input:before, .formpan-textarea:before {
	width: 440px
}
.wpcf7 textarea {
	width: 440px
}
.formpan-check:before {
	width: 440px
}
}
@media screen and (max-width:640px) {
#contact-ref {
	width: 420px;
	padding-left: 0;
	margin-top: 65px
}
#contact .wrapper {
	margin-top: 12px
}
#contact .wpcf7 {
	width: 380px;
	padding-left: 0;
	margin-top: 65px
}
.formpan-input:before, .formpan-textarea:before {
	height: 1px;
	width: 380px
}
.wpcf7 textarea {
	width: 380px
}
.formpan-check:before {
	width: 380px
}
}
@media screen and (max-width:480px) {
#contact-ref {
	width: 250px;
	padding-left: 0
}
#contact .wpcf7 {
	width: 250px;
	padding-left: 0
}
.formpan-input:before, .formpan-textarea:before {
	width: 250px
}
.wpcf7 textarea {
	width: 250px
}
.formpan-check:before {
	width: 250px
}
}
footer.screen {
	background-color: #6bd6f1;
	min-height: 50%;
	height: 50%;
	max-height: 50%;
	position: fixed;
	z-index: -1;
	bottom: 0
}
.logo-txt {
	fill: white;
	max-width: 250px;
	max-height: auto;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}
.credits {
	position: absolute;
	bottom: 30px;
	width: 300px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto
}
.copyright, .legals {
	color: white
}
.copyright {
	display: inline-block;
	width: 600px;
	text-align: right
}
/*@font-face {
	font-family: 'dual300';
	src: url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_300.eot);
	src: url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_300.eot?#iefix) format('embedded-opentype'), url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_300.woff2) format('woff2'), url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_300.woff) format('woff'), url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_300.ttf) format('truetype'), url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_300.svg#dual300) format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'dual600';
	src: url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_600.eot);
	src: url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_600.eot?#iefix) format('embedded-opentype'), url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_600.woff2) format('woff2'), url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_600.woff) format('woff'), url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_600.ttf) format('truetype'), url(//panache.fr/wp-content/themes/_panache/assets/css/../fonts/dualfamily/cdtype_-_dual_600.svg#dual600) format('svg');
	font-weight: normal;
	font-style: normal
}*/
h1, h2, h3, h4, b, #mobile-entry ul, #mobile-entry li, #mobile-entry a {
	font-family: '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-weight: normal;
	font-kerning: none;
	-webkit-font-kerning: none
}
h5, h6, p {
	font-family: Georgia, "Nimbus Roman No9 L", serif;
	font-weight: normal;
}
h1 {
	color: white
}
h2 {
	color: white
}
h3 {
	color: #13042b;
	font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-size: 37px;
	line-height: 44px
}
h4 {
	font-family: 'dual600';
	color: #13042b
}
h5 {
	color: white
}
h6 {
	color: #13042b;
	text-transform: none;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px
}
p {
	color: #13042b;
	font-size: 18px;
	line-height: 26px
}
@media screen and (min-width:900px) {
h1 {
	font-size: 500%;
	line-height: normal
}
h2 {
	font-size: 394%;
	line-height: normal
}
#conseil h2, #creation h2, #ecran h2 {
	padding-bottom: 15px
}
h3 {
	font-size: 220%;
	line-height: 40px
}
h4 {
	font-size: 95%;
	line-height: 20px;
	padding-bottom: 5px
}
h5 {
	font-size: 130%;
	line-height: 25px
}
.tiret {
	font-size: 150%;
	line-height: 10px;
	padding-top: 80px;
	padding-bottom: 10px
}

}
@media screen and (max-width:1024px) {
.tiret {
	font-size: 150%;
	line-height: 10px;
	padding-top: 65px;
	padding-bottom: 10px
}
#ecran .column-right {
	padding-bottom: 80px
}
#ecran .column-right i {
	color:#00f;
}
#creation .column-right .tiret .blue {
	color:#00f;
}
}
@media screen and (max-width:900px) {
h1 {
	font-size: 410%;
	line-height: normal
}
h2 {
	font-size: 380%;
	line-height: normal
}
#conseil h2, #creation h2, #ecran h2 {
	padding-bottom: 15px
}
h3 {
	font-size: 164%;
	line-height: 35px
}
h4 {
	font-size: 85%;
	line-height: 20px;
	padding-bottom: 4px
}
h5 {
	font-size: 130%;
	line-height: 25px
}
h6 {
	font-size: 90%;
	line-height: 20px
}
p {
	font-size: 120%;
	line-height: 25px
}
.tiret {
	font-size: 150%;
	line-height: 10px;
	padding-top: 0;
	padding-bottom: 10px
}
.column-left {
	padding-top: 60px
}
.column-right {
	padding-top: 60px
}
}
@media screen and (max-width:720px) {
h1 {
	font-size: 310%;
	line-height: normal
}
h2 {
	font-size: 350%;
	line-height: normal
}
h3 {
	font-size: 200%;
	line-height: 40px
}
h5 {
	font-size: 140%;
	line-height: 30px
}
.tiret {
	font-size: 150%;
	line-height: 10px;
	padding-top: 0;
	padding-bottom: 5px
}
.column-left {
	padding-top: 50px
}
.column-right {
	padding-top: 20px
}
}
@media screen and (max-width:640px) {
h1 {
	font-size: 265%;
	line-height: normal
}
h2 {
	font-size: 208%;
	line-height: normal
}
#conseil h2, #creation h2, #ecran h2 {
	font-size: 280%;
	padding-bottom: 10px
}
h5 {
	font-size: 110%;
	line-height: 25px
}
h6 {
	font-size: 90%;
	line-height: 22px
}
p {
	font-size: 110%;
	line-height: 25px
}
}
@media screen and (max-width:480px) {
h1 {
	font-size: 175%;
	line-height: normal
}
h2 {
	font-size: 185%;
	line-height: normal
}
h4 {
	font-size: 80%;
	line-height: 20px;
	padding-bottom: 4px
}
h5 {
	font-size: 100%;
	line-height: 20px
}
h6 {
	font-size: 80%;
	line-height: 20px
}
p {
	font-size: 100%;
	line-height: 20px
}
.column-left {
	padding-top: 30px
}
}
@media screen and (max-width:319px) {
h1 {
	font-size: 150%;
	line-height: normal
}
}

@media screen and (max-width:768px) {
.travaillons h2 {
	font-size: 318%;
	line-height: normal
}
}
@media screen and (max-width:500px) {
.travaillons h2 {
	font-size: 224%;
	line-height: normal
}
}

#kikoo {
	background: transparent;
	position: absolute;
	top: -10px;
	left: -10px;
	width: 1px;
	height: 1px;
	z-index: 9999
}
.transition-wrapper {
	background: transparent;
	position: relative;
	z-index: 300;
	height: 0
}
.transition {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	width: 100%;
	height: 100%;
	height: 100vh
}
.mc4wp-form {
	margin: 1em 0
}
.mc4wp-form form, .mc4wp-form input, .mc4wp-form label {
	width: auto;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: auto;
	height: auto;
	vertical-align: baseline;
	line-height: normal
}
.mc4wp-form form:after {
	content: "";
	display: table;
	clear: both
}
.mc4wp-form label {
	font-weight: 700;
	margin-bottom: 5px
}
.mc4wp-form input.placeholdersjs {
	color: #aaa !important
}
.mc4wp-form input[type=date], .mc4wp-form input[type=email], .mc4wp-form input[type=number], .mc4wp-form input[type=tel], .mc4wp-form input[type=text], .mc4wp-form input[type=url], .mc4wp-form select, .mc4wp-form textarea {
	width: 100%
}
.mc4wp-form input[type=number] {
	min-width: 40px
}
.mc4wp-form input[type=checkbox], .mc4wp-form input[type=radio] {
	position: relative;
	margin: 0 6px 0 0;
	padding: 0;
	height: 13px;
	width: 13px;
	display: inline-block;
	border: 0
}
.mc4wp-form input[type=checkbox] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox
}
.mc4wp-form input[type=radio] {
	-webkit-appearance: radio;
	-moz-appearance: radio
}
.mc4wp-form button, .mc4wp-form input[type=button], .mc4wp-form input[type=submit] {
	cursor: pointer;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}
.mc4wp-form label>span, .mc4wp-form li>label {
	font-weight: 400
}
.rtl .mc4wp-form input[type=checkbox], .rtl .mc4wp-form input[type=radio] {
	margin: 0 0 0 6px
}
.mc4wp-alert {
	margin: 1em 0;
	padding: 10px 15px;
	color: #c09853;
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: block;
	position: relative
}
.mc4wp-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6
}
.mc4wp-notice {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1
}
.mc4wp-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7
}

.alert-box{ position:relative;}
.ma-box{ position:absolute; left:0; top:0; display:none;}
.alert-box:hover > .ma-box{ display:block;}